tls:
  certificates:
    # local.dev certificate
    - certFile: /etc/traefik/certs/local.dev.crt
      keyFile: /etc/traefik/certs/local.dev.key
      stores:
        - default
    # another domain certificate
    #- certFile: /etc/traefik/certs/domain1.crt
    #  keyFile: /etc/traefik/certs/domain1.key
    # another domain certificate
    #- certFile: /etc/traefik/certs/domain2.crt
    #  keyFile: /etc/traefik/certs/domain2.key

  stores:
    default: {}
