# Log all DNS queries.
log-queries

# Use Cloudflare as upstream DNS
server=1.0.0.1
server=1.1.1.1

# Serve all .example.com queries using a specific nameserver.
# server=/example.com/192.168.0.1

# Explicitly define host-ip mappings.
address=/.test/162.27.0.2
